* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
input {
  outline: none;
}
i,
button {
  cursor: pointer;
}
.app {
  width: 100%;
  height: 100%;
}
.btn {
  font-size: 1.6rem;
  color: #fff;
  display: inline-block;
  text-align: center;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  background: #ff0157;
  border-radius: 3px;
  letter-spacing: 2px;
  transition: 0.25s;
}
.btn:hover {
  letter-spacing: 6px;
}
section {
  padding: 100px;
}
